body {
    background-color: #bbb;
    font-size: 14px;
}

header {
    font-size: 22px;
    text-align: center;
}

#a {
    margin-top: 120px;
    margin-left: 420px;
    font-size: 32px;
}

#a input {
    height: 32px;
    font-family: monospace;
}

#sentence {
    font-size: 25px;
    width: 400px;
}

footer {
    display: block;
    margin-top: 200px;
}

footer a {
    margin-left: 40%;
}

#search {
    background-color: black;
    font-size: 29px;
    font-family: monospace;
    height: 42px;
    padding: 10px;
    margin-right: 20%;
    margin-top: 120px;
    margin-left: 420px;
    display: none;
    color: #ebe;
}

.type-prp { /* i he */
    color: orange;
}

.type-vbp { /*eat drink */
    color: yellow;
}

.type-prp$ { /*her me */
    color: orange;
}

.type-vbz { /*fucks swallows */
    color: yellow;
}

.type-nnp { /*slavi sofia */
    color: #eee;
}

.type-dt { /*a an */
    color: #772;
}

.type-nn { /*girl eye */
    color: blue;
}

.type-vb { /*make love */
    color: yellow;
}

.type-to { /*to to */
    color: #777;
}

#loading {
    display: none;
    margin-top: 200px;
    margin-left: 40%;
    font-size: 52px;
    font-family: monospace;
    background-color: #452;
}